        h1,h2 {color: green; font-family: verdana;}
        table, th, td { border: 1px solid black}


.myDiv {
  border: 5px outset red;
  background-color: green;
  text-align: left-side;
}

img {
        display:block; 
        margin: 0 auto; 
        text-align:right-side; 
        width:200; 
        height:200
}
